*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255,250,231);
  background: radial-gradient(circle, rgba(255,250,231,1) 0%, rgba(247,228,212,1) 100%);
}

.far {
	pointer-events: none;
}

main {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Gluten', cursive;
  text-align: center;
}

.main-heading {
  margin: 100px 0 50px;
  font-size: 60px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-input {
  width: 300px;
  height: 30px;
  padding: 0 5px;
  font-family: 'Gluten', cursive;
  font-size: 25px;
  outline: none;
  border: 1px solid #000000;
  border-radius: 5%;
  background: transparent;
}

button {
  padding: 0 5px;
  font-family: 'Gluten', cursive;
  background: none;
  border: 1px solid #000000;
  border-radius: 5%;
  cursor: pointer;
  transition: background 0.2s linear, color 0.2s linear;
}

button:hover {
  background: rgb(218, 218, 218);
}

button:disabled {
  border-color: #cccccc;
}

.form-button {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  font-size: 25px;
}

.filter {
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 35px;
}

.filter:after {
  content: "";
  width: 420px;
  height: 1px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: #c7c7c7;
}

.filter-button {
  height: 25px;
  font-size: 20px;
}

.items-list {
  max-width: 500px;
  margin: 0 auto;
}

.item {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  border-bottom: 1px solid #dddddd;
  word-break: break-word;
}

.item-tools {
  margin-left: 40px;
  padding-bottom: 9px;
}

.item-delete {
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  background: #f0e3e3;
  color: #8d0f0f;
}

.item-delete:hover {
  background: #e1a0a0;
  color: #490808
}


.item-checkbox {
  position: relative;
	appearance: none;
}

.item-checkbox:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: -19px;
  left: -25px;
  border: 1px solid #000000;
  border-radius: 5%;
  cursor: pointer;
}

.done:after {
  content: "";
  background: #dbfdd5;
  border: 1px solid #237c13;
}

.done:before {
  content:"";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -19px;
  left: -25px;
  z-index: 5;
  display: block;
  background: url("./img/check-solid.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  cursor: pointer;
}

.counter {
  padding: 20px 0;
}

@media (max-width: 768px) {
  .main-heading {
    margin: 100px 0 30px;
    font-size: 50px;
  }

  .form {
    max-width: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-input {
    margin-bottom: 10px;
  }

  .form-button {
    width: 150px;
    height: 40px;
    margin-left: 10px;
    font-size: 35px;
  }

  .filter-button {
    height: 30px;
    font-size: 25px;
  }

  .filter:after {
    width: 365px;
  }

  .items-list {
    max-width: 340px;
  }
}

@media (max-width: 375px) {
  .main-heading {
    font-size: 40px;
  }

  .form {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-input {
    height: 40px;
    margin-bottom: 10px;
  }

  .filter:after {
    width: 90vw;
  }

  .items-list {
    max-width: 90vw;
  }
}